@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'DecimaMonoPro';
    src: url('../fonts/DecimaMonoPro-family/DecimaMonoPro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DecimaMonoPro';
    src: url('../fonts/DecimaMonoPro-family/DecimaMonoPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DecimaMonoPro';
    src: url('../fonts/DecimaMonoPro-family/DecimaMonoPro-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'DecimaMonoPro';
    src: url('../fonts/DecimaMonoPro-family/DecimaMonoPro-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }
  
:root{
    --Decima: 'DecimaMonoPro',monospace;
}