.border-container{
    padding-bottom: 30px;
}

.dish-list-container {
    width: 90%;
    margin: auto;
    padding: 0;
}

.dish-list-item {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    gap: 5px;
}

.dish-list-item-details {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.drink-list-item-details{
    display: flex;
    flex-direction: column;
}

.dish-list-item-description{
    width: 100%;
    font-size: 0.8rem;
    color: var(--text-grey);
    white-space: wrap;
    word-spacing: -3px;
}

.dish-list-item-details .title-dish{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: var(--text-color);
    white-space: wrap;
    overflow: hidden;
}

.dish-list-item-details p{
    font-size: 0.8rem;
    color: var(--text-grey);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dish-list-item-price{
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-color);
}

.dish-list-item-price-drink{
    flex: 1 1 40%;
    font-size: 0.9rem;
    font-weight: 600;
    word-spacing: -5px;
    color: var(--text-color);
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.dish-list-item-price-drink:only-child{
    flex-basis: 100%;
}

.dish-list-item-price-drink img.icon{
    width: 20px;
    height: 20px;
  }

.title-drink{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    white-space: wrap;
    overflow: hidden;
} 

.title-drink .title-name{
    text-transform: capitalize;
}

.title-description{
    font-size: 0.8rem;
    color: var(--text-grey);
    white-space: wrap;
    overflow: hidden;
}