.dish-list-container {
    width: 90%;
    margin: auto;
    padding: 0;
}

.dish-list-item {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.dish-list-item-details {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.dish-list-item-description{
    width: 100%;
    font-size: 0.8rem;
    color: var(--text-grey);
    white-space: wrap;
    text-transform: capitalize;
}

.dish-list-item-details .title-dish::first-letter{
    text-transform: uppercase;
}

.dish-list-item-details .title-dish{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: var(--text-color);
    white-space: wrap;
    overflow: hidden;
}

.dish-list-item-details p{
    font-size: 0.8rem;
    color: var(--text-grey);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dish-list-item-price{
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-color);
}

.dish-list-item-price-drink{
    font-size: 0.9rem;
    font-weight: 600;
    word-spacing: -5px;
    color: var(--text-color);
}

.dish-list-item-price-drink img.icon{
    width: 20px;
    height: 20px;
  }