.dish-list-container {
    width: 90%;
    margin: auto;
    padding: 0;
}

.dish-list-item {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dish-list-item-details {
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

.dish-list-item-details .title-dish::first-letter{
    text-transform: uppercase;
}

.dish-list-item-details .title-dish{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: var(--text-color);
    white-space: wrap;
    overflow: hidden;
}

.dish-list-item-details p{
    font-size: 0.8rem;
    color: var(--text-grey);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dish-list-item-price{
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-color);
}