img {
    width: auto;
    max-height: inherit;
}

.image_view {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header-dish,
.footer-dish {
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 2rem;
    padding: 10px 0;
    position: fixed;
}

.header-dish {
    top: 0;
    left: 0;
    right: 0;
}


.footer-dish {
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-dish img {
    height: 100%;
    margin-right: 10px;
}

.buttonBack {
    position: absolute;
    right: 10px;
    top: 0;
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0;
}

.dish-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 90px 0;
    gap: 30px;
}

.dish-info p {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: var(--white);
    font-family: var(--Decima);
    margin-bottom: 5px;
}



.dish-info .container-pairings li,
.dish-info span {
    list-style: none;
    font-family: var(--Decima);
    margin: 10px;
}

.container-pairings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

.dish-info h1 {
    font-size: 1.2rem;
    padding: 10px;
}

.dish-info button {
    font-family: var(--Decima);
    color: var(--black);
    font-size: 1rem;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
}

.allergens-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.allergens-list img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.footer-dish {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.footer-dish a {
    width: 80px;
    background-color: var(--green);
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--Decima);
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    .header-dish,
    .footer-dish {
        width: 29.7vw;
        margin: auto;
    }
}